<!DOCTYPE html>

<html>
<head lang="en">

    <title>MakingDevs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" media="screen" href="/css/style.css" th:href="@{/css/style.css}"/>
 
</head>
<body>

<div class="container">
     
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Inicio</a>
                    <ul class="nav navbar-nav">
                        <li><a href="/supervisors">Lista de Supervisores</a></li>
                        <li><a href="#">Nuevo Supervisor</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <title>MakingDevs</title>

                    <h3>Sring Boot & Spring JPA-Thymeleaf</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="/img/Logo-Makingdevs.png" width="300" />
            </div>
        </div>
     
</div>
</body>
</html>
