<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<meta charset="UTF-8">
		<title>Facturación Making Devs</title>
		<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
		</style>
	</head>
	<body>

		<div>
			<h1 align="center">
			   Sistema de Facturacion de Making Devs
			</h1>
		</div>

		<div>
			<h3>Todas las facturas</h3><br>
		</div>
		<div>
			<table>
			  <tr>
			    <th>Clave de Emisor</th>
			    <th>Emisor</th>
			    <th>RFC Emisor</th>
			    <th>Receptor</th>
			    <th>RFC Receptor</th>
			  </tr>
			<% for(i=0 ; i <= emisores.size()-1;i++){  %>
  			<tr>
			    <td>${claves[i]}</td>
			    <td>${emisores[i]}</td>
			    <td>${rfcEmisores[i]}</td>
			    <td>${receptores[i]}</td>
			    <td>${rfcReceptores[i]}</td>
			  </tr>
  			<% }  %>


			</table><br>
			<a href="index.groovy"><button>Finalizar</button></a>
		</div>
	</body>
</html>